@model IEnumerable<CiaTecnica_MVC.Models.PessoaJuridica>

@{
    ViewBag.Title = "Lista - Pessoa Jurídica";
}

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Dados", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.ID, onclick = "return confirm('Deseja apagar este cliente?');" })
                </td>
            </tr>
        }

    </table>
}