@model CiaTecnica_MVC.Models.PessoaFisicaJuridica

@{
    ViewBag.Title = "Novo CLiente";
}

<div class="row">
    <div class="col-md-6" id="PessoaSelecao">
        <div class="box box-primary">

            <form class="form-horizontal" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">Selecione o tipo de cadastro</label>
                        <div class="col-sm-4">
                            <select id="formopcao" name="formopcao"  class="form-control" onchange="FormSeleciona()">
                                <option value="0" selected>-SELECIONE-</option>
                                <option value="1">Física</option>
                                <option value="2">Jurídica</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- PESSOA FISICA -->
<div class="row">

    <div class="col-md-4" id="PessoaFisicaGrid">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Pessoa Física - Cadastro</h3>
            </div>


@using (Html.BeginForm("Create", "PessoaFisica", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmPF" }))
{
    @Html.AntiForgeryToken()

    

            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaFisica.CPF, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaFisica.CPF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaFisica.CPF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaFisica.DataNasc, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaFisica.DataNasc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaFisica.DataNasc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaFisica.Nome, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaFisica.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaFisica.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaFisica.Sobrenome, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaFisica.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaFisica.Sobrenome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaFisica.CEP, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaFisica.CEP, new { htmlAttributes = new { @class = "form-control", @onblur = "PesquisaCEP(1)" } })
                        @Html.ValidationMessageFor(model => model.pessoaFisica.CEP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- ENDERECO -->
                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaFisica.endereco.Logradouro, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaFisica.endereco.Logradouro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaFisica.endereco.Logradouro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaFisica.endereco.Complemento, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaFisica.endereco.Complemento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaFisica.endereco.Complemento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaFisica.endereco.Numero, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaFisica.endereco.Numero, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaFisica.endereco.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaFisica.endereco.Bairro, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaFisica.endereco.Bairro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaFisica.endereco.Bairro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaFisica.endereco.Cidade, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaFisica.endereco.Cidade, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaFisica.endereco.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaFisica.endereco.UFCompleto, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaFisica.endereco.UFCompleto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaFisica.endereco.UFCompleto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- /ENDERECO -->

                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>

                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
}
            
        </div>
    </div>
</div>
<!-- /PESSOA FISICA -->

<!-- PESSOA JURIDICA -->
<div class="row">
    <div class="col-md-4" id="PessoaJuridicaGrid">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Pessoa Jurídica - Cadastro</h3>
            </div>

@using (Html.BeginForm("Create", "PessoaJuridica", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmPJ" }))
{
    @Html.AntiForgeryToken()

            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaJuridica.CNPJ, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaJuridica.CNPJ, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaJuridica.CNPJ, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaJuridica.RazaoSocial, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaJuridica.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaJuridica.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaJuridica.NomeFantasia, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaJuridica.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pessoaJuridica.NomeFantasia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pessoaJuridica.CEP, htmlAttributes: new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.pessoaJuridica.CEP, new { htmlAttributes = new { @class = "form-control", @onblur = "PesquisaCEP(2)" } })
                        @Html.ValidationMessageFor(model => model.pessoaJuridica.CEP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- ENDERECO -->
                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaJuridica.endereco.Logradouro, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaJuridica.endereco.Logradouro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaJuridica.endereco.Logradouro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaJuridica.endereco.Complemento, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaJuridica.endereco.Complemento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaJuridica.endereco.Complemento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaJuridica.endereco.Numero, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaJuridica.endereco.Numero, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaJuridica.endereco.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaJuridica.endereco.Bairro, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaJuridica.endereco.Bairro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaJuridica.endereco.Bairro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaJuridica.endereco.Cidade, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaJuridica.endereco.Cidade, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaJuridica.endereco.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.pessoaJuridica.endereco.UFCompleto, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.pessoaJuridica.endereco.UFCompleto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.pessoaJuridica.endereco.UFCompleto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- /ENDERECO -->

                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
}
        </div>
    </div>
</div>
<!-- /PESSOA JURIDICA -->


<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/PessoaFisicaJuridica.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        configurarControles();
    });
</script>



