@model CiaTecnica_MVC.Models.PessoaFisica

@{
    ViewBag.Title = "Edit";
}


<div class="row">
	<!-- PESSOA FISICA -->
	<div class="col-md-12" id="PessoaFisicaGrid">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Pessoa Física</h3>
			</div>

			<div class="col-md-12 column">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
	
				@Html.HiddenFor(model => model.ID)
	
				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.CPF, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.Nome, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.Sobrenome, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.DataNasc, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.DataNasc, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.DataNasc, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<!-- ENDERECO -->
				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.endereco.Logradouro, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.endereco.Logradouro, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.endereco.Logradouro, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.endereco.Numero, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.endereco.Numero, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.endereco.Numero, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="box-body">
					<div class="form-group">
						@Html.LabelFor(m => m.endereco.UFCompleto, new { @class = "col-sm-3 control-label" })
						<div class="col-sm-9">
							@Html.TextBoxFor(m => m.endereco.UFCompleto, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.endereco.UFCompleto, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<!-- /ENDERECO -->
				
				<div class="box-footer">
					<input type="submit" value="Salvar" class="btn btn-default" />

				</div>
				@Html.ValidationSummary("", new { @class = "text-danger" })
    
}
		
        <!-- /PESSOA FISICA -->

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
