@model IEnumerable<CiaTecnica_MVC.Models.PessoaFisica>

@{
    ViewBag.Title = "Lista - Pessoas físicas";
}


@if(Model != null)
{ 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNasc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.ID }) |
            @Html.ActionLink("Dados", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new {  id=item.ID, onclick = "return confirm('Deseja apagar este cliente?');" })
        </td>
    </tr>
    }

</table>
}